h1{
    color:red;
    border:solid
}
* {
    border:solid
}

.header{
    background-color: blueviolet;
    display:flex;
    justify-content:space-evenly;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.footer{
    display:flex;
    justify-content: flex-end;
}

h2,p{
    text-align:center ;
}

body{
    background-color:white
}